<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" href="./../static/img/logo.png" type="image/x-icon">
    <title>Saluki - Info</title>
</head>

<body class="col-12">

    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <div class="container-fluid">
            <a class="navbar-brand text-light fw-bold" href="/">Saluki</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="/info">Información</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="row col-12 my-auto mt-5">

        <div class="card col-5 mt-3 mx-auto p-2">
            <h3>Back-end</h3>

            <h5 class="mt-2 card-subtitle text-muted">Lenguaje</h5>
            <label>Python 3.10.2 <a href="https://www.python.org/downloads/"><span class="text-muted">(Download)</span></a> </label>

            <h5 class="mt-2 card-subtitle text-muted">Framework</h5>
            <label>Flask 2.0.2 <span class="text-muted">(pip install flask)</span> </label>

        </div>
        
        <div class="card col-5 mt-3 mx-auto p-2">
            <h3>Server</h3>

            <h5 class="mt-2 card-subtitle text-muted">Hosting</h5>
            <label>Heroku  <a href="https://www.heroku.com"><span>(pagina web)</span></a> </label>
            
            <h5 class="mt-2 card-subtitle text-muted">HTTP server para Python</h5>
            <label>Green Unicorn <span class="text-muted">(pip install <a href="https://gunicorn.org/">gunicorn</a> )</span> </label>
        </div>
        
        <div class="card col-5 mt-3 mx-auto p-2">
            <h3>Front-end</h3>

            <h5 class="mt-2 card-subtitle text-muted">Framework CSS</h5>
            <label>bootstrap v5.1.3 <a href="https://getbootstrap.com/"><span>(pagina web)</span></a> </label>
            
            <h5 class="mt-2 card-subtitle text-muted">Icons</h5>
            <label>Font Awesome <span class="text-muted">(<a href="https://fontawesome.com/docs/web/setup/get-started">pagina web</a>)</span>
            </label>
        </div>
        
        
        <div class="card col-5 mt-3 mx-auto p-2">
            <h3>Base de datos</h3>

            <h5 class="mt-2 card-subtitle text-muted">Hosting</h5>
            <label>Heroku addons Postgres <a href="https://elements.heroku.com/addons/heroku-postgresql"><span>(pagina web)</span></a> </label>
            
            <h5 class="mt-2 card-subtitle text-muted">Database</h5>
            <label>PostgreSQL <span class="text-muted">(<a href="https://gunicorn.org/">Download</a>)</span>
            </label>
        </div>

        <a href="https://github.com/Jonathan-act/saluki-app">
            <div class="text-center">
                <img class="mt-5" src="./../static/img/github.png" alt="Medicina Veterinaria" width="100" height="100">
            </div>
        </a>

    </section>
    
    <div class="fixed-bottom" style="height: 142px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.99 C107.44,203.77 286.34,132.73 534.09,104.10 L500.00,150.00 L-33.63,178.13 Z"
                style="stroke: none; fill: rgb(46, 116, 43);"></path>
        </svg>
    </div>
    
</body>

</html>