{% extends "./veterinario/vet_template.html" %}

{% block body %}
                    
                        <h1 class="">Resumen</h1>

                            <!-- Datos de la mascota -->
                            <div class="card mt-4">
                                <div class="card-header">
                                    Dueño de la mascota
                                </div>
                                <div class="card-body row">
                                    <div class="col-xl-6">
                                        <p class="fw-bolder ">Nombre</p>
                                        <input type="text" class="form-control" value="{{ dueño[0] }} {{ dueño[1] }}" disabled>
                                    </div>
                    
                                    <div class="col-xl-6">
                                        <p class="fw-bolder">Teléfono</p>
                                        <input type="text" class="form-control" value="{{ dueño[2] }}" disabled>
                                        <!-- <p class="fw-bolder">Cantidad de mascotas</p>
                                        <input type="text" class="form-control" disabled> -->
                                    </div>
                    
                                </div>
                            </div>
                    
                            <!-- Información de la mascota -->
                            <div class="card mt-4">
                                <div class="card-header">
                                    Información de la mascota
                                </div>

                                <form action="/actualizar_informacion_mascota" method="POST" class="card-body row col-12">
                    
                                    <!-- COL1 -->
                                    <div class="col-xl-6">
                                        <div class="col-auto">
                                            <label for="inputPassword6" class="col-form-label">Nombre</label>
                                            <input class="form-control" value="{{ mascota[0] }}" name="nombre">
                                        </div>
                    
                                        <div class="col-auto">
                                            <label for="inputPassword6" class="col-form-label">Edad</label>
                                            <input class="form-control" value="{{ mascota[4] }}"disabled>
                                        </div>
                    
                                        <div class="col-auto">
                                            <label for="inputPassword6" class="col-form-label">Especie</label>
                                            <select name="especie" class="form-control">
                                                <option value="{{ mascota[1] }}"> {{ mascota[1] }} </option>
                                                {% for especie in especies %}
                                                <option value="{{ especie[0] }}">{{ especie[0] }} </option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="col-auto">
                                            <label for="inputPassword6" class="col-form-label fw-bold">Consultas totales</label>
                                            <input class="form-control" value="{{ consultas_totales [0]}}" disabled>
                                        </div>                                        
                    
                                    </div>
                    
                                    <!-- COL2 -->
                                    <div class="col-xl-6">

                                        <div class="col-auto">
                                            <label for="inputPassword6" class="col-form-label">Raza</label>
                                            <input class="form-control" value="{{mascota[2]}}" name="raza">
                                        </div>

                                        <!--  <form action="/actualizar_caracter" method="POST" class="row mx-auto"> -->
                                        <div class="col-auto">
                                            <input type="hidden" name="id_mascota" value="{{id}}">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                            <label for="inputPassword6" class="col-form-label">Personalidad mascota</label>
                                            <input class="form-control" value=" {{ mascota[5] }}" name="caracter">
                                        </div>

                                        <div class="col-auto">
                                            <label for="inputPassword6" class="col-form-label">Fecha de nacimiento</label>
                                            <input class="form-control" value="{{ mascota[6] }}" type="date" name="fecha_nacimiento">
                                        </div>
                    
                                        

                                        <div class="col-auto">
                                            <label class="w-100 fw-bold col-form-label">Actualizar información de la mascota</label>
                                            <button class="btn btn-warning fw-bold w-100" type="submit">Actualizar</button>
                                        </div>
                                                        
                                    </div>
                    
                                </form>
                    
                                <!-- VACUNAS -->
                                <div class="card-header">
                                    Vacunas aplicadas
                                </div>
                                <div class="card-body">
                                    <ul class="row">
                                        {% for vacuna in vacunas %}
                                        <li>{{ vacuna }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                    
                                <!--Operaciones-->
                                <div class="card-header">
                                    Operaciones realizadas
                                </div>
                                <div class="card-body">
                                    <ul>
                                        {% for operacion in operaciones %}
                                        <li>{{ operacion }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                    
                                <!--Operaciones-->
                                <div class="card-header">
                                    Enfermedades
                                </div>
                                <div class="card-body">
                                    <ul>
                                        {% for enfermedad in enfermedades %}
                                        <li>{{ enfermedad }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                    
                                <!--Tratamientos-->
                                <div class="card-header">
                                    Alergias
                                </div>
                                <div class="card-body">
                                    <ul>
                                        {% for alergia in alergias %}
                                        <li>{{ alergia }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                    
                            </div>
                            <a href="/vet_registro_clinico/{{mascota[3]}}" class="btn btn-primary mt-3 mb-4">
                                Agregar registro clínico
                            </a>
                            
                            <a href="/historial_completo/{{ mascota[3] }}" class="btn btn-success mt-3 mb-4">Historial completo</a>
                                        
                    </div>

        </div>

{% endblock %}